<div ng-app="app">
    <div ng-view></div>
</div>
<script src="/bower/angular/angular.min.js"></script>
<script src="/bower/angular-route/angular-route.min.js"></script>
<script src="/js/app/app.js"></script>
<script src="/js/app/route-config.js"></script>
<script src="/js/app/restaurants/restaurants.js"></script>
<script src="/js/app/menu/menu.js"></script>

<script src="/js/app/services/api-service.js"></script>

